# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GraffitiGdiPluaaaas/.vs/GraffitiGdiPluaaaas/v16/.suo
GraffitiGdiPluaaaas/.vs/GraffitiGdiPluaaaas/v16/Browse.VC.db
*.user
GraffitiGdiPluaaaas/Debug/GraffitiGdiPluaaaas.ilk
GraffitiGdiPluaaaas/Debug/GraffitiGdiPluaaaas.pdb
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/CL.command.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/CL.read.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/CL.write.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/GraffitiGdiPluaaaas.lastbuildstate
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/link.command.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/link.read.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/link.write.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/rc.command.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/rc.read.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/Graffiti.BC699D7A.tlog/rc.write.1.tlog
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/GraffitiGdiPluaaaas.exe.recipe
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/GraffitiGdiPluaaaas.log
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/GraffitiGdiPluaaaas.res
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/vc142.idb
GraffitiGdiPluaaaas/GraffitiGdiPluaaaas/Debug/vc142.pdb
GraffitiGdiPluaaaas/.vs/GraffitiGdiPluaaaas/v16/Browse.VC.db-shm
GraffitiGdiPluaaaas/.vs/GraffitiGdiPluaaaas/v16/Browse.VC.db-wal
GraffitiGdiPluaaaas/.vs/GraffitiGdiPluaaaas/v16/Browse.VC.opendb
